
.body-drum{
    background-image: url(../resources/imgs/wood_bg.svg);
}
.main {
    display: flex;
    align-items: stretch;
    height: 110vh;
    justify-content: center;
    padding-right: 10%;
}
.logo {
	width: 15%;
	margin: 2rem;
	position: fixed;
    bottom: 0;
}

.hi-hat{
    height: 20%;
    width: 15%;
    padding-top: 17%;
}
.main-figure-div {
    display: flex;
    justify-content: center;
}
.tom1{
    height: 20%;
    width: 15%;
    padding-top: 32%;
}
.tom2{
    width: 72%;
    height: 60%;
    padding-bottom: 10%;
}
.tom3{
    height: 70%;
    width: 72%;
    padding-left: 55%;
    padding-top: 10%;
}
.tom4{
    height: 25%;
    width: 15.5%;
    padding-top: 16.5%;
}
.bass-drum{
    height: 100%;
    width: 100%;
    padding-left: 40%;
     
}
.bass-drum-div{
    display: flex;
    flex-direction: column;
}
.hi-hat2{
    height: 50%;
    width: 90%;
    padding-left: 90%;
} 
.snare{
    height: 40%;
    width: 75%; 
    padding-top: 0%;
}
.snare-div{
    padding-top: 10%;
    padding-right: 1%;
    display: flex;
    flex-direction: column ;
}
.ul{
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 1rem;
    color: white
}
.turn{
    color: antiquewhite;
    display: flex;
    text-align: center;
    padding-top: 100%;
    padding-left: 10%;
}

@media only screen and (orientation:portrait)
{ 
.main-figure{display: none;}
.body-drum{
    background-color: black;
    background-image: none;
}
}
@media only screen and (orientation:landscape)
{
    .turn{display: none;
    }
    
}
