h3, .p1 {
  font-size: 1.2rem;
  font-weight: bolder;
  text-align: center;
  color: white;
  font-family: "Fira Sans", sans-serif;
}

#jungleText {
  color: chartreuse;
  text-shadow: 1px 1px 1px deeppink;
}

.p2 {
  font-size: 1rem;
  font-weight: normal;
  text-align: center;
  color: white;
  font-family: "Fira Sans", sans-serif;
}

#drumButton, #kalimbaButton, #jungleButton {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#pricing {
  border-radius: 24px;
  width: fit-content;
  padding: 12px 16px;
  background-color: white;
  color: black;
  font-weight: 900;
}

body {
  background: linear-gradient(#0A2F44, #557C93);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

header, div, footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 24px;
}

header {
  margin-top: 5%;
}

.circleImg {
  border-radius: 50%;
  height: 100px;
  width: 100px;
}

@media only screen and (min-width: 480px) {
  main {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 120px;
    padding: 3%;
  }
  header h3 {
    font-size: 2.5rem;
  }
  footer h3 {
    font-size: 1.8rem;
  }
}