@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital@0;1&family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap');

* {
    
    font-family: 'Fira Sans';
  }

  body{
  
  margin:0;
  background-image: linear-gradient(180deg,#08203e 0%, #557C93  100%);
  height:100vh;
  }

  .header .navbar{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }
  
  .navLogo img {
    margin:15px;
    
  }

  .navToggle{
    display:none;
  } 

  .navItems a{
   size: 18px;  
   margin:15px;
   color:white;
   text-decoration: none;
  }

  
  .menuInf {
    display:flex;
    flex-direction: column;
    margin-top: 30%;
    color: white;
  
  }
  
  .text{
    text-align: center;
  }
  
  
  .hitMe{
    color: white;
    background: #03E682;
    width: 100px; 
    border: 1px solid #03E682;
    border-radius: 24px;
    margin: 5%;
  }
  
  
@media (max-width: 768px) {

 
.navItems {
  background-color: #03E682;
  border: 1px solid #03E682;
  border-radius: 24px;
  position:absolute;
  top: 7%;
  left:80%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  transform: translateX(-800%);
  
}

.navToggle{
  display: flex;
  flex-direction: column;
  left:0;
  background: #03E682;
  height: 30%;
  width: 15%; 
  border: 1px solid #03E682;
  border-radius: 24px;
  margin: 5%;
  cursor:pointer;
 
}

.navToggle span{
  display:flex;
  width: 30%;
  height: 15% ;
  background: white;
  border-radius: 22px;
  margin-left: 50%;
  margin-top: 3%;
  
}

.close span{ 
  transform: translate(0px 0px);
}

.open{
  transform: translateX(0);
}

}
@media screen and (min-width: 768px){

  body{
    height:130vh;
  }

}  
  
  
