@import '_variables.scss';

body {
    background-image: url("./../../resources/images/jungleBackground.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#monkey {
    @include animalCircle;
    background-image: url("./../resources/imgs/monkey.png");
}
  