@import '_variables.scss';

body {
    background-image: url("./../../resources/imgs/jungleBackground.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#title {
    background-image: url("./../../resources/imgs/jungledrums\ morado.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100px;
    width: 100px;
}

#monkey {
    @include animalCircle;
    background-image: url("./../../resources/imgs/monkey.png");
}

#elephant {
    @include animalCircle;
    background-image: url("./../../resources/imgs/elephant.png");
}

#tiger {
    @include animalCircle;
    background-image: url("./../../resources/imgs/tiger.png");
}

#toucan {
    @include animalCircle;
    background-image: url("./../resources/imgs/toucan.png");
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#title {
    margin: auto;
    height: 280px;
    width: 280px;
}

#jungleDrums {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
}


p {
    color: white;
    border-radius: 50%;
}